img {
  width: auto;
  height: 100px;
}

.altura-item {
  height: 100px;
}
.action-button {
  margin: 10px 0;
}

// Smartphone
.form-field-item-handset {
  width: 100%;
}

.form-field-item-handset-large {
  width: 100%;
}

.form-field-item-handset-small {
  width: 100%;
}
// Tablet

.form-field-item-tablet {
  width: 65%;
}

// Web
.form-field-item-web {
  width: 32.3%;
}
