<div class="page" fxLayout="column" fxLayoutGap="30px">
  <div class="page-header">
    <h1 class="page-title">Suporte interno</h1>
  </div>
  <section class="support">
    <form class="support-form">
      <div
        fxLayout="column"
        fxLayoutAlign="center stretch"
        class="full-width"
        fxLayoutGap="1em"
      >
        <h1 class="support-title">Chamado para suporte técnico</h1>
        <div class="support-area">
          <label for="name">Seu nome:</label>
          <input class="support-text" type="text" id="name" required />
          <br />
        </div>

        <div class="support-area">
          <label for="email">Seu e-mail</label>
          <input class="support-text" type="text" id="email" required />
          <br />
        </div>

        <div class="support-area">
          <label for="title">Assunto</label>
          <input class="support-text" type="text" id="titulo" required />
          <br />
        </div>

        <div class="support-area">
          <label for="question">Descrição</label>
          <textarea
            class="support-text text-area"
            name="question"
            id="question"
            cols="30"
            rows="10"
            maxlength="600"
            required
          ></textarea>
          <br />
        </div>

        <div class="support-area">
          <input type="submit" value="Enviar" (click)="validacaoEmail()" />
        </div>
      </div>
    </form>
  </section>
</div>
