@import "/src/variables.scss";

.support {
  margin-top: 20px;
}

.x {
  width: 37%;
  margin: auto;
  background-color: $accent;
  color: white;
  font-size: 20px;
  padding: 3px 0;
}

.x:hover {
  background-color: $primary;
}

.support-title {
  margin: 10px 0px;
  font-size: 25px;
  font-weight: bold;
  width: 90%;
}

.support-area {
  display: flex;
  flex-direction: column;
}

label {
  width: 75%;
  margin: auto;
  margin-bottom: 5px;
  font-size: 20px;
}

input,
textarea {
  width: 75%;
  margin: auto;
  line-height: 25px;
  font-size: 17px;
  border: 1px solid rgba(0, 0, 0, 0.35);
  border-radius: 5px;
}
