<div fxLayout="column" fxLayoutAlign="space-around center">
  <div
    fxLayout="column"
    fxLayoutAlign="space-around center"
    class="highlight-container-handset"
    *ngIf="isDisplay('Handset')"
  >
    <mat-toolbar color="primary">
      <h1>{{ "store.highlight" | translate }}</h1>
    </mat-toolbar>

    <div routerLink="/details/{{ highlight[highlightItem]?.game }}">
      <div
        class="highlight-cover-container-handset"
        fxLayout="column"
        fxLayoutAlign="center center"
      >
        <img
          src="{{ highlight[highlightItem]?.cover }}"
          alt="Game cover image"
          class="highlight-cover-img-handset"
        />
      </div>
      <h3>{{ highlight[highlightItem]?.header }}</h3>
    </div>

    <div fxLayout="row" fxLayoutAlign="space-between center">
      <div class="highlight-move" (click)="previusHighlight()">
        <button
          mat-button
          [ngClass]="{
            'cl-disable-move ': !showPreviusButton
          }"
        >
          <mat-icon>arrow_back_ios</mat-icon>
        </button>
      </div>
      <div
        class="check-container"
        fxLayout="row"
        fxLayoutAlign="center stretch"
      >
        <mat-icon>{{
          highlightItem == 0 ? "radio_button_checked" : "radio_button_unchecked"
        }}</mat-icon>
        <mat-icon>{{
          highlightItem == 1 ? "radio_button_checked" : "radio_button_unchecked"
        }}</mat-icon>
        <mat-icon>{{
          highlightItem == 2 ? "radio_button_checked" : "radio_button_unchecked"
        }}</mat-icon>
        <mat-icon>{{
          highlightItem == 3 ? "radio_button_checked" : "radio_button_unchecked"
        }}</mat-icon>
        <mat-icon>{{
          highlightItem == 4 ? "radio_button_checked" : "radio_button_unchecked"
        }}</mat-icon>
      </div>

      <div class="highlight-move" (click)="nextHighlight()">
        <button
          mat-button
          [ngClass]="{
            'cl-disable-move ': !showNextButton
          }"
        >
          <mat-icon>arrow_forward_ios</mat-icon>
        </button>
      </div>
    </div>
  </div>

  <div
    fxLayout="column"
    fxLayoutAlign="start none"
    class="highlight-container"
    *ngIf="!isDisplay('Handset')"
  >
    <mat-toolbar color="primary">
      <h1>{{ "store.highlight" | translate }}</h1>
    </mat-toolbar>

    <div
      class="highlight-item"
      fxLayout="row"
      fxLayoutAlign="center stretch"
      fxLayoutGap="1%"
    >
      <div
        class="highlight-move"
        fxFlex="5"
        fxLayout="column"
        fxLayoutAlign="center stretch"
        (click)="previusHighlight()"
      >
        <button
          mat-button
          [ngClass]="{
            'cl-disable-move ': !showPreviusButton
          }"
        >
          <mat-icon>arrow_back_ios</mat-icon>
        </button>
      </div>
      <div
        class="highlight-cover"
        fxFlex="45"
        fxLayout="column"
        fxLayoutAlign="center stretch"
      >
        <img
          src="{{ highlight[highlightItem]?.cover }}"
          alt="Game cover image"
          class="highlight-cover-img"
        />
      </div>
      <div
        class="highlight-description"
        fxLayout="column"
        fxLayoutAlign="space-around center"
        fxFlex="45"
      >
        <h1>{{ highlight[highlightItem]?.header }}</h1>
        <p>
          {{ highlight[highlightItem]?.description }}
        </p>

        <button
          mat-raised-button
          color="primary"
          class="full-width"
          routerLink="/details/{{ highlight[highlightItem]?.game }}"
        >
          Veja a pagina do jogo
        </button>
      </div>
      <div
        class="highlight-move"
        fxFlex="5"
        fxLayout="column"
        fxLayoutAlign="center stretch"
        (click)="nextHighlight()"
      >
        <button
          mat-button
          [ngClass]="{
            'cl-disable-move ': !showNextButton
          }"
        >
          <mat-icon>arrow_forward_ios</mat-icon>
        </button>
      </div>
    </div>
    <div class="check-container" fxLayout="row" fxLayoutAlign="center stretch">
      <mat-icon>{{
        highlightItem == 0 ? "radio_button_checked" : "radio_button_unchecked"
      }}</mat-icon>
      <mat-icon>{{
        highlightItem == 1 ? "radio_button_checked" : "radio_button_unchecked"
      }}</mat-icon>
      <mat-icon>{{
        highlightItem == 2 ? "radio_button_checked" : "radio_button_unchecked"
      }}</mat-icon>
      <mat-icon>{{
        highlightItem == 3 ? "radio_button_checked" : "radio_button_unchecked"
      }}</mat-icon>
      <mat-icon>{{
        highlightItem == 4 ? "radio_button_checked" : "radio_button_unchecked"
      }}</mat-icon>
    </div>
  </div>
</div>

<div class="offer-container full-width" *ngIf="true">
  <mat-toolbar color="primary" class="offer-item-header">
    <h1>{{ "store.allGames" | translate }}</h1>
  </mat-toolbar>

  <div
    class="offer-item-container"
    style="padding: 0; margin: 0; line-height: 1em"
  >
    <div fxLayoutGap="2%" fxLayout="row wrap">
      <div
        class="card-container"
        [ngClass]="{
          'card-container-handset ': isDisplay('Handset'),
          'card-container-tablet ': isDisplay('Tablet'),
          'card-container-web ': isDisplay('Web')
        }"
        *ngFor="let item of games"
        fxLayout="column"
        fxLayoutAlign="space-around center"
        routerLink="details/{{ item?.id }}"
      >
        <div
          class="image-container"
          fxLayout="column"
          fxLayoutAlign="space-around center"
        >
          <img
            src="{{ item?.cover }}"
            alt="Game cover image"
            class="store-cover-img"
          />
        </div>

        <div class="offer-description-container">
          <h2>
            {{ item?.name }}
          </h2>

          <p>
            {{ resolveEnumDual(item?.genre, listGenre) }}
          </p>

          <p>{{ "store.releaseDate" | translate }} {{ item?.releaseDate }}</p>

          <p>
            {{
              item?.bestPrice
                ? (item?.bestPrice | currency: "BRL")
                : "Fora de estoque"
            }}
          </p>
        </div>
        <div>
          <button
            mat-flat-button
            routerLink="details/{{ item?.id }}"
            color="primary"
          >
            {{ "store.discover" | translate }}
            <mat-icon>videogame_asset</mat-icon>
          </button>
          <button mat-flat-button color="accent">
            {{ "store.buyNow" | translate }}
            <mat-icon>shopping_cart</mat-icon>
          </button>
        </div>
      </div>
    </div>
    <div fxLayout="column" fxLayoutAlign="center center">
      <mat-paginator
        *ngIf="totalLength"
        [length]="totalLength"
        [pageSize]="pageSize"
        [pageIndex]="0"
        [pageSizeOptions]="[5, 10, 50, 100]"
        [showFirstLastButtons]="true"
        (page)="pageChange($event)"
      >
      </mat-paginator>
    </div>
  </div>
</div>
