<div
  class="page full-width"
  fxFlex
  fxLayout="column"
  fxLayoutAlign="space-around start"
>
  <mat-toolbar color="primary">
    <h1>{{ "store.highlight" | translate }}</h1>
  </mat-toolbar>
  <div fxLayout="column" fxLayoutAlign="space-between center">
    <div
      class="highlight-item"
      fxLayout="row"
      fxLayoutAlign="center stretch"
      fxLayoutGap="1%"
    >
      <div
        class="highlight-move"
        fxFlex="5"
        fxLayout="column"
        fxLayoutAlign="center stretch"
        (click)="previusHighlight()"
      >
        <button mat-button *ngIf="showPreviusButton">
          <mat-icon>arrow_back_ios</mat-icon>
        </button>
      </div>

      <div
        class="highlight-cover"
        fxFlex="45"
        fxLayout="column"
        fxLayoutAlign="center stretch"
      >
        <img
          src="{{ highlight[highlightItem]?.cover }}"
          alt="Game cover image"
          class="highlight-cover-img"
        />
      </div>
      <div
        class="highlight-description"
        fxLayout="column"
        fxLayoutAlign="start stretch"
        fxFlex="45"
      >
        <h1>{{ highlight[highlightItem]?.header }}</h1>
        <p>
          {{ highlight[highlightItem]?.description }}
        </p>

        <button
          mat-raised-button
          color="primary"
          class="full-width"
          routerLink="/details/{{ highlight[highlightItem]?.game }}"
        >
          Veja a pagina do jogo
        </button>
      </div>
      <div
        class="highlight-move"
        fxFlex="5"
        fxLayout="column"
        fxLayoutAlign="center stretch"
        (click)="nextHighlight()"
      >
        <button mat-button *ngIf="showNextButton">
          <mat-icon>arrow_forward_ios</mat-icon>
        </button>
      </div>
    </div>
    <div class="check-container" fxLayout="row" fxLayoutAlign="center stretch">
      <mat-icon>{{
        highlightItem == 0 ? "radio_button_checked" : "radio_button_unchecked"
      }}</mat-icon>
      <mat-icon>{{
        highlightItem == 1 ? "radio_button_checked" : "radio_button_unchecked"
      }}</mat-icon>
      <mat-icon>{{
        highlightItem == 2 ? "radio_button_checked" : "radio_button_unchecked"
      }}</mat-icon>
      <mat-icon>{{
        highlightItem == 3 ? "radio_button_checked" : "radio_button_unchecked"
      }}</mat-icon>
      <mat-icon>{{
        highlightItem == 4 ? "radio_button_checked" : "radio_button_unchecked"
      }}</mat-icon>
    </div>
  </div>

  <mat-toolbar color="primary">
    <h1>{{ "store.allGames" | translate }}</h1>
  </mat-toolbar>

  <div
    class="offer-item-container"
    style="padding: 0; margin: 0; line-height: 1em"
  >
    <div fxLayoutGap="2%" fxLayout="row wrap">
      <div
        class="card-container"
        [ngClass]="{
          'card-container-small ': (isHandset$ | async),
          'card-container-large': !(isHandset$ | async)
        }"
        *ngFor="let item of games"
        fxLayout="column"
        fxLayoutAlign="space-around center"
        routerLink="details/{{ item?.id }}"
      >
        <div
          class="image-container"
          fxLayout="column"
          fxLayoutAlign="space-around center"
        >
          <img
            src="{{ item?.cover }}"
            alt="Game cover image"
            class="store-cover-img"
          />
        </div>

        <div>
          <div fxLayout="column" fxLayoutAlign="start start"></div>
          <h2>
            {{ item?.name }}
          </h2>

          <p>
            {{ resolveEnumDual(item?.genre, listGenre) }}
          </p>

          <p>{{ "store.releaseDate" | translate }} {{ item?.releaseDate }}</p>

          <p>
            {{
              item?.bestPrice
                ? (item?.bestPrice | currency: "BRL")
                : "Fora de estoque"
            }}
          </p>
        </div>
        <div>
          <button
            mat-flat-button
            routerLink="details/{{ item?.id }}"
            color="primary"
          >
            {{ "store.discover" | translate }}
            <mat-icon>videogame_asset</mat-icon>
          </button>
          <button mat-flat-button color="accent">
            {{ "store.buyNow" | translate }}
            <mat-icon>shopping_cart</mat-icon>
          </button>
        </div>
      </div>
    </div>
    <div fxLayout="row" fxLayoutAlign="center center">
      <mat-paginator
        [length]="totalLength"
        [pageSize]="pageSize"
        [pageSizeOptions]="[5, 10, 50, 100]"
        aria-label="Select page"
        (page)="pageChange($event)"
        showFirstLastButtons
      >
      </mat-paginator>
    </div>
  </div>
</div>
