.store-cover-img {
  height: 95%;
  width: auto;
  max-width: 99%;
  object-fit: contain;
}

.card-container-large {
  padding: 1% 0;
  margin: 0.5%;
  height: auto;
  width: 15%;
  align-items: center;
  background-color: transparent;
  * {
    font-size: medium;
  }
  .image-container {
    height: 25vh;
  }
}

.card-container-small {
  padding: 2% 0;
  margin: 2%;
  height: 60%;
  width: 40%;
  align-items: center;
  background-color: transparent;
  * {
    font-size: small;
  }
  .image-container {
    height: 20vh;
  }
}

.card-container:hover {
  cursor: pointer;
  transform: scale(1.02);
}

mat-paginator {
  background-color: transparent;
}

.highlight-item {
  height: 35vh;
  padding: 1%;

  .highlight-move:hover {
    background-color: rgb(225, 225, 225, 0.5);
    cursor: pointer;
  }

  .highlight-cover {
    width: 50%;
  }

  .highlight-cover-img {
    width: 100%;
  }

  .highlight-description {
    width: 50%;
  }
}
.check-container {
  width: 100%;
  margin-bottom: 1%;
}
