<div class="page" fxLayout="column" fxLayoutGap="30px">
  <mat-toolbar>
    <button
      mat-stroked-button
      class="nav-warehouse-entrance"
      routerLink="./entrance"
      style="width: 50%"
    >
      {{ "warehouse.entries" | translate }}
    </button>

    <button
      mat-stroked-button
      class="nav-warehouse-exit"
      routerLink="./exit"
      style="width: 50%"
    >
      {{ "warehouse.exits" | translate }}
    </button>
  </mat-toolbar>

  <div class="page-header">
    <h1 class="page-title">{{ "warehouse.balance" | translate }}</h1>
  </div>

  <div class="select-columns" *ngIf="!isDisplay('Web')">
    {{ "general.chooseColumns" | translate }}
    <mat-form-field appearance="fill" class="full-width">
      <mat-label> {{ "general.choosedColumns" | translate }}</mat-label>
      <mat-select [formControl]="choosedColumns" multiple>
        <mat-select-trigger>
          {{choosedColumns.value?.[0] || ''}}
          <span
            *ngIf="(choosedColumns.value?.length || 0) > 1"
            class="example-additional-selection"
          >
            (+{{ (choosedColumns.value?.length || 0) - 1 }}
            {{ choosedColumns.value?.length === 2 ? "other" : "others" }})
          </span>
        </mat-select-trigger>
        <mat-option *ngFor="let topping of optionsColumns" [value]="topping">{{
          topping
        }}</mat-option>
      </mat-select>
    </mat-form-field>
  </div>

  <div
    class="full-width"
    fxLayout="row"
    fxLayoutGap="1em"
    fxLayoutAlign=" center"
    fxFlexFill
  >
    <div fxFlex="100">
      <mat-form-field class="full-width" appearance="legacy">
        <mat-label>{{ "general.filter" | translate }}</mat-label>
        <input
          matInput
          aria-label="Game Items"
          [matAutocomplete]="auto"
          [formControl]="gameCtrl"
        />
        <mat-autocomplete #auto="matAutocomplete">
          <mat-option
            *ngFor="let item of filteredGames | async"
            [value]="item.name"
          >
            <img
              class="example-option-img"
              aria-hidden
              [src]="item.cover"
              height="25"
            />
            <span>{{ item.name }}</span>
          </mat-option>
        </mat-autocomplete>
      </mat-form-field>
    </div>
  </div>

  <div>
    <div
      fxLayout="column"
      fxLayoutAlign="center center"
      class="full-width table-loading"
      *ngIf="loadingTable"
    >
      <mat-spinner></mat-spinner>
    </div>

    <table
      mat-table
      [dataSource]="warehouseDataTable"
      class="full-width"
      aria-describedby="List of customers"
      *ngIf="!loadingTable"
    >
      <ng-container matColumnDef="gameCover">
        <th
          mat-header-cell
          *matHeaderCellDef
          style="text-align: center !important"
        >
          <span class="table-header">{{
            "warehouse.gameCover" | translate
          }}</span>
        </th>
        <td
          mat-cell
          *matCellDef="let element"
          style="text-align: center !important"
        >
          <img src="{{ element?.gameCover }}" alt="Game cover image" />
        </td>
      </ng-container>

      <ng-container matColumnDef="gameName">
        <th mat-header-cell *matHeaderCellDef>
          <span class="table-header">{{
            "warehouse.gameName" | translate
          }}</span>
        </th>
        <td mat-cell *matCellDef="let element">{{ element?.gameName }}</td>
      </ng-container>

      <ng-container matColumnDef="idPlatform">
        <th mat-header-cell *matHeaderCellDef>
          <span class="table-header">{{
            "warehouse.idPlatform" | translate
          }}</span>
        </th>
        <td mat-cell *matCellDef="let element">
          {{ resolveEnumSingle(element.idPlatform, listGamePlatform) }}
        </td>
      </ng-container>

      <ng-container matColumnDef="quantity">
        <th
          mat-header-cell
          *matHeaderCellDef
          style="text-align: center !important"
        >
          <span class="table-header">{{
            "warehouse.quantity" | translate
          }}</span>
        </th>
        <td
          mat-cell
          *matCellDef="let element"
          style="text-align: center !important"
        >
          {{ element?.quantity }}
        </td>
      </ng-container>

      <ng-container matColumnDef="lastUpdate">
        <th mat-header-cell *matHeaderCellDef>
          <span class="table-header">{{
            "warehouse.lastUpdate" | translate
          }}</span>
        </th>
        <td mat-cell *matCellDef="let element">{{ element?.lastUpdate }}</td>
      </ng-container>

      <tr mat-header-row *matHeaderRowDef="choosedColumns.value"></tr>
      <tr mat-row *matRowDef="let row; columns: choosedColumns.value"></tr>
    </table>

    <mat-paginator
      [length]="totalLength"
      [pageSize]="pageSize"
      [pageSizeOptions]="[5, 10, 50, 100]"
      (page)="pageChange($event)"
      showFirstLastButtons
    >
    </mat-paginator>
  </div>
</div>
