<div class="toolbar-container">
  <mat-toolbar color="primary" routerLink="/">
    <button mat-button>{{ "toolbar.announcement" | translate }}</button>
  </mat-toolbar>
  <mat-toolbar
    fxLayout="row"
    fxLayoutAlign="space-between center"
    color="accent"
  >
    <div fxLayout="row" fxLayoutAlign="center center" routerLink="/">
      <img
        class="logo-size"
        src="assets/images/ecommerce_logo_outlined.svg"
        alt="Logo empresa"
      />
    </div>

    <app-menu> </app-menu>
  </mat-toolbar>
</div>

<div>
  <mat-sidenav-container autosize class="navegation-container">
    <mat-sidenav
      #sidenav
      position="start"
      class="nave-container"
      opened="true"
      mode="side"
      attr.role="navigation"
      fixedInViewport="false"
    >
      <mat-nav-list>
        <mat-list-item (click)="openClose()">
          <button mat-icon-button>
            <mat-icon *ngIf="!isOpen">chevron_right</mat-icon>
            <mat-icon *ngIf="isOpen"> chevron_left</mat-icon>
          </button>
        </mat-list-item>
        <mat-divider></mat-divider>
        <mat-list-item routerLink="/" *ngIf="!isRole('estoque')">
          <mat-icon mat-list-icon matTooltip="{{ 'menu.store' | translate }}">
            local_offer</mat-icon
          >
          <p matLine *ngIf="isOpen">{{ "menu.store" | translate }}</p>
        </mat-list-item>

        <mat-list-item routerLink="/customer" *ngIf="isRole('admin')">
          <mat-icon
            mat-list-icon
            matTooltip="{{ 'menu.customer' | translate }}"
          >
            supervised_user_circle</mat-icon
          >
          <p matLine *ngIf="isOpen">{{ "menu.customer" | translate }}</p>
        </mat-list-item>

        <mat-list-item routerLink="/order" *ngIf="isRole('admin')">
          <mat-icon mat-list-icon matTooltip="{{ 'menu.order' | translate }}">
            assessment</mat-icon
          >
          <p matLine *ngIf="isOpen">{{ "menu.order" | translate }}</p>
        </mat-list-item>

        <mat-list-item
          routerLink="/warehouse"
          *ngIf="isRole('admin') || isRole('estoque')"
        >
          <mat-icon
            mat-list-icon
            matTooltip="{{ 'menu.warehouse' | translate }}"
          >
            warehouse</mat-icon
          >
          <p matLine *ngIf="isOpen">{{ "menu.warehouse" | translate }}</p>
        </mat-list-item>

        <mat-list-item (click)="logout()" routerLink="/login">
          <mat-icon
            mat-list-icon
            [matTooltip]="statusLogin() ? 'Logout' : 'Login'"
            >{{ statusLogin() ? "logout" : "login" }}</mat-icon
          >
          <p matLine *ngIf="isOpen">{{ "menu.logout" | translate }}</p>
        </mat-list-item>
        <mat-divider></mat-divider>

        <mat-list-item (click)="changeLanguage()">
          <mat-icon
            mat-list-icon
            matTooltip="{{ 'menu.changeLanguage' | translate }}"
          >
            language</mat-icon
          >
          <p matLine *ngIf="isOpen">
            {{ "general.currentLanguange" | translate }}
          </p>
        </mat-list-item>

        <mat-divider></mat-divider>

        <mat-list-item *ngIf="!isDark" (click)="setDarkTheme()">
          <mat-icon
            mat-list-icon
            matTooltip="{{ 'menu.changeTheme' | translate }}"
          >
            dark_mode</mat-icon
          >
          <p matLine *ngIf="isOpen">{{ "menu.darkMode" | translate }}</p>
        </mat-list-item>

        <mat-list-item *ngIf="isDark" (click)="setLigthTheme()">
          <mat-icon
            mat-list-icon
            matTooltip="{{ 'menu.changeTheme' | translate }}"
          >
            light_mode</mat-icon
          >
          <p matLine *ngIf="isOpen">{{ "menu.lightMode" | translate }}</p>
        </mat-list-item>
      </mat-nav-list>
    </mat-sidenav>

    <mat-sidenav-content>
      <router-outlet></router-outlet>
    </mat-sidenav-content>
  </mat-sidenav-container>
</div>
