@import "/src/variables.scss";

.title {
  font-weight: bold;
  font-size: 30px;
  color: $primary;
  text-align: center;
  margin-top: 20px;
  margin-bottom: 30px;
}

.subtitle {
  font-family: Arial;
  font-weight: Semi bold;
  font-size: 20px;
  margin: -2% 0;
  text-align: center;
  font: bold italic 35px;
  letter-spacing: 0px;
  color: $primary;
  opacity: 1;
}

.bg-accent {
  background: $primary;
}

.mb-2 {
  margin-bottom: 2em;
}

.login-container-light-mode {
  background-color: rgb(235, 235, 235);
  width: 480px;
  height: 520px;
  padding: 2em 4em;
  div,
  form {
    width: 100%;
  }
}

.login-container-dark-mode {
  background-color: rgb(235, 235, 235);
  width: 480px;
  height: 520px;
  padding: 2em 4em;
  div,
  form {
    width: 100%;
  }
}

.mat-form-field,
.mat-button {
  width: 100%;
}

.logo {
  max-height: 50px;
}

::ng-deep .mat-form-field-appearance-outline .mat-form-field-outline {
  background-color: white;
  border-radius: 5px;
}
