<div
  class="mat-app-background"
  fxLayout="row"
  fxLayoutAlign="center center"
  fxFill
>
  <div
    fxLayout="column"
    fxLayoutAlign="space-around center"
    [ngClass]="{
      'login-container-light-mode': !darkModeCondition,
      'login-container-dark-mode': darkModeCondition
    }"
  >
    <div class="mb-2" fxFlex="100">
      <h1 class="title">
        {{ "application.name" | translate }}
      </h1>

      <h2 class="subtitle">{{ "login.login" | translate }}</h2>
    </div>
    <form [formGroup]="loginForm" (keyup)="EnterSubmit($event)" fxFlex="100">
      <mat-form-field appearance="legacy">
        <mat-label>{{ "login.username" | translate }}</mat-label>
        <input formControlName="login" autocomplete="username" matInput />
        <mat-error *ngIf="loginForm.get('login')?.errors?.['required']">
          {{ "login.error.emailsIsInvalid" | translate }}
        </mat-error>
      </mat-form-field>

      <mat-form-field appearance="legacy">
        <mat-label>{{ "login.password" | translate }}</mat-label>
        <input
          formControlName="password"
          type="password"
          autocomplete="current-password"
          matInput
        />
        <mat-error *ngIf="loginForm.get('password')?.errors?.['required']">
          {{ "login.error.providePassword" | translate }}
        </mat-error>
      </mat-form-field>
    </form>
    <div class="mb-2" fxFlex="100" fxLayout="column" fxLayoutGap="1em">
      <button
        mat-flat-button
        fxFlex="40"
        color="primary"
        (click)="login()"
        routerLink="/"
      >
        {{ "login.signIn" | translate }}
      </button>
    </div>
    <img
      fxFlex="50px"
      alt="logo da empresa "
      class="logo"
      src="/assets/images/ecommerce_logo_filled.svg"
    />
  </div>
</div>
