@import "/src/variables.scss";

input:-webkit-autofill,
input:-webkit-autofill:focus {
  transition: background-color 600000s 0s, color 600000s 0s;
}
input[data-autocompleted] {
  background-color: transparent !important;
}

h1 {
  font-weight: bold;
  font-size: 4em;
  letter-spacing: 2px;
  color: $primary;
}

h2 {
  font-weight: Semi bold;
  font-size: 2em;
  color: $primary;
}

button {
  width: 100%;
  height: 5vh;
}

mat-form-field {
  width: 100%;
}

.login-container-light-mode {
  background-color: rgb(235, 235, 235);
  width: 60vh;
  height: 50vh;
  padding: 5rem 3rem;
}

.login-container-dark-mode {
  background-color: rgba(rgb(175, 175, 175), 1);
  width: 60vh;
  height: 50vh;
  padding: 5rem 3rem;
}
