<div
  class="mat-app-background"
  fxLayout="row"
  fxLayoutAlign="space-around center"
  fxFill
>
  <div
    class="elements-container"
    fxLayout="column"
    fxLayoutAlign="space-between center"
    [ngClass]="{
      'login-container-light-mode': !darkModeCondition,
      'login-container-dark-mode': darkModeCondition
    }"
  >
    <h1 class="title">
      {{ "application.name" | translate }}
    </h1>
    <h2>{{ "login.login" | translate }}</h2>

    <form
      [formGroup]="loginForm"
      (keyup)="EnterSubmit($event)"
      class="full-width"
    >
      <mat-form-field appearance="outline">
        <mat-label>{{ "login.username" | translate }}</mat-label>
        <input formControlName="login" autocomplete="username" matInput />
        <mat-error *ngIf="loginForm.get('login')?.errors?.['required']">
          {{ "login.message.emailsIsInvalid" | translate }}
        </mat-error>
      </mat-form-field>

      <mat-form-field appearance="outline">
        <mat-label>{{ "login.password" | translate }}</mat-label>
        <input
          formControlName="password"
          type="password"
          autocomplete="current-password"
          matInput
        />
        <mat-error *ngIf="loginForm.get('password')?.errors?.['required']">
          {{ "login.message.providePassword" | translate }}
        </mat-error>
      </mat-form-field>
    </form>
    <button mat-flat-button color="primary" (click)="login()" routerLink="/">
      {{ "login.signIn" | translate }}
    </button>
  </div>
</div>
