<div
  class="mat-app-background"
  fxLayout="row"
  fxLayoutAlign="space-around center"
  fxFill
>
  <div
    class="elements-container"
    fxLayout="column"
    fxLayoutAlign="space-between center"
    [ngClass]="{
      'login-container-light-mode': !darkModeCondition,
      'login-container-dark-mode': darkModeCondition
    }"
  >
    <img
      class="logo-size"
      src="assets/images/ecommerce_logo_full_filled_dark_mode.svg"
      alt="Logo empresa"
      *ngIf="darkModeCondition"
    />

    <img
      class="logo-size"
      src="assets/images/ecommerce_logo_full_filled_light_mode.svg"
      alt="Logo empresa"
      *ngIf="!darkModeCondition"
    />

    <h2>{{ "login.login" | translate }}</h2>

    <form
      [formGroup]="loginForm"
      (keyup)="EnterSubmit($event)"
      class="full-width"
    >
      <mat-form-field appearance="outline">
        <mat-label>{{ "login.username" | translate }}</mat-label>
        <input formControlName="username" autocomplete="username" matInput />
        <mat-error *ngIf="loginForm.get('username')?.errors?.['required']">
          {{ "login.message.emailsIsInvalid" | translate }}
        </mat-error>
      </mat-form-field>

      <mat-form-field appearance="outline">
        <mat-label>{{ "login.password" | translate }}</mat-label>
        <input
          formControlName="password"
          [type]="hidePassword ? 'password' : 'text'"
          autocomplete="current-password"
          matInput
        />
        <button
          mat-icon-button
          matSuffix
          (click)="hidePassword = !hidePassword"
        >
          <mat-icon>{{
            hidePassword ? "visibility_off" : "visibility"
          }}</mat-icon>
        </button>
        <mat-error *ngIf="loginForm.get('password')?.errors?.['required']">
          {{ "login.message.providePassword" | translate }}
        </mat-error>
      </mat-form-field>
    </form>
    <button
      mat-raised-button
      color="accent"
      (click)="login()"
      [disabled]="!loginForm.valid || processingRequest"
    >
      {{
        processingRequest
          ? ("login.processing" | translate)
          : ("login.enter" | translate)
      }}
    </button>
  </div>
</div>
