<div class="page" fxLayout="column" fxLayoutGap="30px">
  <div class="page-header">
    <h1 class="page-title">SAC</h1>
  </div>

  <section class="support">
    <form class="support-form">
      <div
        fxLayout="column"
        fxLayoutAlign="center stretch"
        class="full-width"
        fxLayoutGap="1em"
      >
        <h1 class="support-title">
          Possui alguma dúvida ou reclamação? Contate nosso suporte!
        </h1>

        <div
          class="imagem-container"
          [ngClass]="{
            'imagem-container-handset ': isDisplay('Handset'),
            'fimagem-container-tablet ': isDisplay('Tablet'),
            'imagem-container-web ': isDisplay('Web')
          }"
        >
          <img
            class="ilustration-handset"
            src="/assets/images/support/smartphone.jpg"
            alt="Atendente prestando serviço de suporte ao cliente"
            *ngIf="isDisplay('Handset')"
          />

          <img
            class="ilustration-tablet"
            src="/assets/images/support/tablet.jpg"
            alt="Atendente prestando serviço de suporte ao cliente"
            *ngIf="isDisplay('Tablet')"
          />

          <img
            class="ilustration-web"
            src="/assets/images/support/pc.jpg"
            alt="Atendente prestando serviço de suporte ao cliente"
            *ngIf="isDisplay('Web')"
          />
        </div>
        <div class="support-area">
          <label for="name">Seu nome:</label>
          <input class="support-text" type="text" id="name" required />
          <br />
        </div>

        <div class="support-area">
          <label for="cpf">Seu CPF:</label>
          <input
            class="support-text"
            type="text"
            id="cpf"
            [textMask]="{ mask: cpfMask }"
            required
          />
          <br />
        </div>

        <div class="support-area">
          <label for="email">Seu e-mail</label>
          <input class="support-text" type="email" id="email" required />
          <br />
        </div>

        <div class="support-area">
          <label for="title">Assunto</label>
          <input class="support-text" type="email" id="email" required />
          <br />
        </div>

        <div class="support-area">
          <label for="question">Descrição</label>
          <textarea
            class="support-text text-area"
            name="question"
            id="question"
            cols="30"
            rows="10"
            maxlength="600"
            required
          ></textarea>
          <br />
        </div>

        <div class="support-area">
          <button
            class="x"
            mat-raised-button
            type="submit"
            value="Enviar"
            (click)="validacaoCPF()"
          >
            Enviar
          </button>
        </div>
      </div>
    </form>
  </section>
</div>
