<div
  class="page full-width"
  fxFlex
  fxLayout="column"
  fxLayoutAlign="space-around start"
>
  <div
    fxLayout="column"
    fxLayoutAlign="center center"
    class="full-width full-page-height"
    *ngIf="processing"
  >
    <mat-spinner></mat-spinner>
  </div>
  <div class="full-width" id="page" *ngIf="!processing">
    <div fxLayout="column" fxLayoutGap="15px" class="full-page-width">
      <div>
        <div class="page-header">
          <h1 class="page-title">
            {{ "customer.customer" | translate }}
          </h1>
        </div>

        <div class="subtitle full-width">
          <h2>
            {{ (isEdit ? "customer.edit" : "customer.new") | translate }}
            {{ "customer.customer" | translate }}
          </h2>
        </div>
        <div class="subtitle full-width">
          <h3>
            {{ "customer.personal" | translate }}
          </h3>
        </div>
        <form class="full-width" [formGroup]="customerForm">
          <div fxLayout="column" class="full-width">
            <div fxLayout="row" fxLayoutGap="1%" id="row1">
              <mat-form-field fxFlex="49.5%" appearance="outline">
                <mat-label>
                  {{ "customer.firstName" | translate }}
                </mat-label>
                <input
                  type="text"
                  matInput
                  formControlName="firstName"
                  placeholder="ex.: ABC API Integration"
                />
              </mat-form-field>

              <mat-form-field fxFlex="49.5%" appearance="outline">
                <mat-label>
                  {{ "customer.lastName" | translate }}
                </mat-label>
                <input type="text" matInput formControlName="lastName" />
              </mat-form-field>
            </div>

            <div fxLayout="row" fxLayoutGap="1%" id="row2">
              <mat-form-field fxFlex="49.5%" appearance="outline">
                <mat-label>
                  {{ "customer.email" | translate }}
                </mat-label>
                <input type="text" matInput formControlName="email" />
              </mat-form-field>

              <mat-form-field fxFlex="49.5%" appearance="outline">
                <mat-label>
                  {{ "customer.cpf" | translate }}
                </mat-label>
                <input
                  formControlName="cpf"
                  matInput
                  [textMask]="{ mask: cpfMask }"
                />
              </mat-form-field>
            </div>
            <div fxLayout="row" fxLayoutGap="1%" id="row3">
              <mat-form-field fxFlex="49.5%" appearance="outline">
                <mat-label>{{ "customer.birthDate" | translate }}</mat-label>
                <input
                  matInput
                  [matDatepicker]="pickerBirthDate"
                  formControlName="birthDate"
                />
                <mat-datepicker-toggle matSuffix [for]="pickerBirthDate">
                  <mat-icon matDatepickerToggleIcon
                    >keyboard_arrow_down</mat-icon
                  >
                </mat-datepicker-toggle>
                <mat-datepicker #pickerBirthDate></mat-datepicker>
              </mat-form-field>
            </div>

            <div class="subtitle full-width">
              <h3>
                {{ "customer.personal" | translate }}
              </h3>
            </div>
            <div fxLayout="row" fxLayoutGap="1%" id="row4">
              <mat-form-field fxFlex="79%" appearance="outline">
                <mat-label>
                  {{ "customer.street" | translate }}
                </mat-label>

                <input type="text" matInput formControlName="street" />
              </mat-form-field>

              <mat-form-field fxFlex="20%" appearance="outline">
                <mat-label>
                  {{ "customer.number" | translate }}
                </mat-label>
                <input
                  type="text"
                  matInput
                  formControlName="number"
                  placeholder="ex.: ABC API Integration"
                />
              </mat-form-field>
            </div>

            <div fxLayout="row" fxLayoutGap="1%" id="row5">
              <mat-form-field fxFlex="33%" appearance="outline">
                <mat-label>
                  {{ "customer.city" | translate }}
                </mat-label>
                <input type="text" matInput formControlName="city" />
              </mat-form-field>

              <mat-form-field fxFlex="33%" appearance="outline">
                <mat-label>{{ "customer.state" | translate }}</mat-label>
                <mat-select formControlName="state">
                  <mat-option [value]="">--</mat-option>
                  <mat-option *ngFor="let type of listState" [value]="type.id">
                    {{ type.description }} - {{ type.name }}
                  </mat-option>
                </mat-select>
              </mat-form-field>

              <mat-form-field fxFlex="33%" appearance="outline">
                <mat-label>
                  {{ "customer.zip" | translate }}
                </mat-label>
                <input
                  type="text"
                  matInput
                  formControlName="zip"
                  [textMask]="{ mask: cepMask }"
                  placeholder="ex.: ABC API Integration"
                />
              </mat-form-field>
            </div>
          </div>
        </form>
      </div>

      <div fxLayout="row" fxLayoutAlign="end" fxLayoutGap="20px">
        <button
          mat-stroked-button
          color="warn"
          routerLink=".."
          class="button-size"
        >
          {{ "general.cancel" | translate }}
        </button>
        <button
          mat-stroked-button
          color="accent"
          class="button-size"
          [disabled]="customerForm.invalid"
          (click)="!isEdit ? saveCustomer() : createCustomer()"
        >
          {{ "general.save" | translate }}
        </button>
      </div>
    </div>
  </div>
</div>
