<div fxLayoutGap="10px" fxLayout="row" fxLayoutAlign="space-around center">
  <div
    [matMenuTriggerFor]="userMenu"
    class="button"
    fxLayoutGap="10px"
    fxLayout="row"
    fxLayoutAlign="space-between center"
  >
    <div
      class="user-menu"
      fxLayoutGap="10px"
      fxLayout="row"
      fxLayoutAlign="space-between center"
    >
      <mat-icon>person_outline</mat-icon>
      {{ currentUser() }}
      <mat-icon class="fc-white">keyboard_arrow_down</mat-icon>

      <mat-menu #userMenu="matMenu">
        <button class="houver-black" mat-menu-item (click)="changeLanguage()">
          <div>
            <mat-icon class="houver-black">language</mat-icon>
            {{ "general.currentLanguange" | translate }}
          </div>
        </button>

        <button class="houver-black" mat-menu-item routerLink="./about">
          <div>
            <mat-icon class="houver-black">apartment</mat-icon>
            {{ "general.aboutUs" | translate }}
          </div>
        </button>

        <button class="houver-black" mat-menu-item routerLink="./contact">
          <div>
            <mat-icon class="houver-black">support_agent</mat-icon>
            {{ "general.contactUs" | translate }}
          </div>
        </button>

        <button mat-menu-item routerLink="/login" *ngIf="!statusLogin()">
          <div>
            <mat-icon>login</mat-icon>
            {{ "general.login" | translate }}
          </div>
        </button>

        <button mat-menu-item (click)="logout()" *ngIf="statusLogin()">
          <div>
            <mat-icon>logout</mat-icon>
            {{ "general.logout" | translate }}
          </div>
        </button>

        <mat-divider></mat-divider>
        <button class="houver-black" mat-menu-item routerLink="./map">
          <div>
            <mat-icon class="houver-black">map</mat-icon>
            {{ "general.siteMap" | translate }}
          </div>
        </button>
      </mat-menu>
    </div>
  </div>

  <button mat-menu-item routerLink="/shopping_cart" *ngIf="isRole('customer')">
    <div>
      <mat-icon matBadge="{{ getCartSize() }}" class="houver-black"
        >shopping_cart</mat-icon
      >
    </div>
  </button>
</div>
