input[type="datetime-local"]::-webkit-inner-spin-button,
input[type="datetime-local"]::-webkit-calendar-picker-indicator {
  display: none;
  -webkit-appearance: none;
}

.total-container {
  margin-top: 2vh;
}

.image-hide {
  display: none;
}

.image-hide {
  display: none;
}

img {
  max-width: 100px;
  max-height: 100px;
  position: absolute;
  opacity: 0.25;
  display: block;
}

.hide {
  display: none;
}

.game-table-area:hover + .hide {
  display: block;
  background-color: red;
}
