input[type="datetime-local"]::-webkit-inner-spin-button,
input[type="datetime-local"]::-webkit-calendar-picker-indicator {
  display: none;
  -webkit-appearance: none;
}

.total-container {
  margin-top: 2vh;
}

.image-hide {
  display: none;
}

.image-hide {
  display: none;
}

img {
  max-width: 100px;
  max-height: 100px;
  position: absolute;
  opacity: 0.25;
  display: block;
}

.hide {
  display: none;
}

.game-table-area:hover + .hide {
  display: block;
  background-color: red;
}

#item-review {
  text-align: left;
  cursor: pointer;
}

// Smartphone
.form-field-item-handset {
  width: 100%;
}

.form-field-item-handset-large {
  width: 100%;
}

.form-field-item-handset-small {
  width: 100%;
}
// Tablet

.form-field-item-tablet {
  width: 49%;
}

.form-field-item-tablet-large {
  width: 75.6%;
}

.form-field-item-tablet-small {
  width: 22.3%;
}

// Web
.form-field-item-web {
  width: 32.3%;
}

.form-field-item-web-large {
  width: 75.6%;
}

.form-field-item-web-small {
  width: 22.3%;
}
